doctype html
html
	head
	
	meta(charset="utf-8")
	//meta(name="viewport", content="width=device-width, initial-scale=1.0")
	
	//fonts
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lobster")
	
	//bootstrap
	script(src="/galleria/javascripts/jquery.min.js")
	script(src="/galleria/javascripts/bootstrap.min.js")
	link(rel="stylesheet", href="/galleria/stylesheets/bootstrap.min.css")
	
	//font-awesome
	link(rel="stylesheet", href="/galleria/stylesheets/font-awesome.min.css")
	
	//favicon
	link(rel="icon", href="/galleria/favicon2.ico")
	
	//style
	link(rel="stylesheet", href="/galleria/stylesheets/style.css")
	
	title= title
	
	include navbar
	
	body
		//flash-messages 101:
		//if(flash)
		//	if(flash.success)
		//		div(id="messages", class="success") #{flash.success}
		//	if(flash.error)
		//		div(id="messages", class="error") #{flash.error}
	block content