doctype html
html
	head
	
	//fonts
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lobster")
	
	//bootstrap
	script(src="/galleria/javascripts/jquery.min.js")
	script(src="/galleria/javascripts/bootstrap.min.js")
	link(rel="stylesheet", href="/galleria/stylesheets/bootstrap.min.css")
	
	//font-awesome
	link(rel="stylesheet", href="/galleria/stylesheets/font-awesome.min.css")
	
	//favicon
	link(rel="icon", href="/galleria/favicon2.ico")
	
	//style
	link(rel="stylesheet", href="/galleria/stylesheets/style.css")
	
	title= title
	
	meta(charset="utf-8")
	
	include navbar
	
	body
		//flash-messages 101:
		//-if(messages)
			//div#note #{messages}
	block content