doctype html
html
	head
	
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	
	//fonts
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lobster")
	
	//script(src="/galleria/javascripts/jquery-ui.min.js")
	
	//bootstrap
	script(src="/galleria/javascripts/jquery.min.js")
	script(src="/galleria/javascripts/bootstrap.min.js")
	link(rel="stylesheet", href="/galleria/stylesheets/bootstrap.min.css")
	
	//font-awesome
	link(rel="stylesheet", href="/galleria/stylesheets/font-awesome.min.css")
	
	//favicon
	link(rel="icon", href="/galleria/images/favicon2.ico")
	
	//style
	link(rel="stylesheet", href="/galleria/stylesheets/style.css")
	
	title= title
	
	include navbar	
	//flash-messages 101:
	//- if(messages.success)
	//	.message.success
	//		div(class="alert alert-success")
	//			a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
	//			span= messages.success
	//- if(messages.error)
	//	.message.error
	//		div(class="alert alert-danger")
	//			a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
	//			span= messages.error
	div(id="content", class="container")
		block content
	include footer
	