extends ../layout

block content
		h2(style="text-align:center")= title
		form(class="form-user", role="form", action="/galleria/user/forgot", method="post")
			input(class="form-control input-user", type="text", name="username", placeholder="Käyttäjä")
			input(class="form-control input-user", type="text", name="email", placeholder="Sähköposti")
			button(class="btn btn-default btn-form-user", type="submit") Lähetä linkki sähköpostiin