extends ../layout
block content
	h2(style="text-align:center")= title
	form(class="form-user" role="form", action="/galleria/user/login", method="post")
		div(class="input-group bottom-buffer")
			span(class="input-group-addon")
				i(class="fa fa-user fa-fw", aria-hidden="true")
			input(class="form-control", type="text", name="username", placeholder="Käyttäjä", required="true")
		div(class="input-group bottom-buffer")
			span(class="input-group-addon", aria-hidden="true")
				i(class="fa fa-key fa-fw")
			input(class="form-control", type="password", name="password", placeholder="Salasana", required="true")
		button(type="submit", class="btn btn-default btn-form-user") Kirjaudu sisään
		br
		a(class="reset-password" , href="/galleria/user/forgot") Unohdin salasanani
		br
		a(class="btn btn-default btn-form-user", href="/galleria/user/register") Luo uusi käyttäjä