body {
	padding: 30px;
	font-family: "Lato", sans-serif;
}

h1 {
	font-size: 400%;
}

p {
	font-size: 300%;
	color: gray;
}

a {
	font-size: 150%;
	color: #00B7FF;
}

.navbar-default .navbar-brand {
	font-family: "Lobster";
	font-size: 36px;
	color: black;
}

.input-navbar-login{
	max-width: 90px;
}

.btn-navbar-icon{
	height: 34px;
	width: 34px;
}

.btn-navbar-left{
	margin-right: 10px;
}

.input-navbar{
	margin-right: 10px;
}

.btn-navbar-right{
	
}

.login-info{
	font-size: 150%;
	color: black;
}


.form-user{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 30%;
}

.bottom-buffer{
	margin-bottom:10px;
}

.input-user{
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-form-user{
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 180px;
}

.reset-password{
	font-size: 100%;
	color: black;
}

.navbar-icon{
	color: #555555;
}

.form-submit{
	max-width: 30%;
	margin-bottom: 10px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media(max-width: 768px) {

	.navbar-nav {
		margin: 0;
		padding: 7.5px 15px;
	}

	.input-navbar-login{
		max-width: 100%;
	}
	
	.input-navbar{
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.form-user{
		max-width: 100%;
	}
	
	.btn-navbar-icon{
		width: 68px;
	}
	
	#navbar-btn-register{
		float:right;
		margin-right:5%;
	}
	
	#navbar-btn-help{
		margin-right:0px;
		margin-left:5%;
	}
	
	#navbar-btn-login{
		width: 90%;
		margin-right:5%;
		margin-left:5%;
	}
	
	.navbar-form {
		border: 0px;
	}
	
	.navbar-bottom-form{
		text-align: center;
	}
	
	p {
		font-size: 150%;
		color: gray;
	}
	
	a {
		font-size: 125%;
		color: #00B7FF;
	}
	
	h1{
		font-size: 250%;
	}
	
	img{
		width: 100%;
		height: auto;
	}
}

@media(min-width: 768px) {
	.content{
		margin-right: auto;
		margin-left: auto;
		max-width: 60%;
	}
}