body {
	font-family: "Lato", sans-serif;
	background-image: url("/galleria/images/bg.png");
	padding-top: 70px;
}

h1 {
	font-size: 400%;
}

p {
	font-size: 300%;
	color: gray;
}

a {
	font-size: 150%;
	color: #00B7FF;
}

.navbar{
	opacity: 0.75;
}

.navbar-default .navbar-brand {
	font-family: "Lobster";
	font-size: 36px;
	color: black;
}

.input-navbar-login{
	max-width: 90px;
}

input-group-addon.navbar{
	height: 34px;
	width: 34px;
	padding: 0px 12px 0px 12px;
}

.btn-navbar-icon{
	border: 1px solid #CCCCCC;
}

.btn-navbar-left{
	margin-right: 10px;
}

.input-navbar{
	margin-right: 10px;
}

.login-name{
	font-size: 150%;
	color: black;
}


.form-user{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 30%;
}

.bottom-buffer{
	margin-bottom:10px;
}

.input-user{
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-form-user{
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 180px;
}

.reset-password{
	font-size: 100%;
	color: black;
}

.navbar-icon{
	height: 14px;
	width: 8px;
	color: #555555;
	padding: 0px 0px 0px 0px; 
}

.form-submit{
	max-width: 50%;
	margin-bottom: 10px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content {
	position: relative;
	height: auto !important;
	height: 100%;
    min-height: calc(100vh - 186px);
	/* Negative indent footer by its height */
	background-color: #ffffff;
}

.footer {
	margin-top: 20px;
	height: 94px;
	width: 100%;
	background-color: #ffffff;
	opacity: 0.75;
}

.media-gallery{
	background-color: #D8D8D8;
	padding: 15px 15px;
}

.media-frame{
	height: 236px;
	margin: 0.25px 0px;
	background-color: #C8C8C8;
}

.media-preview{
	height: 200px;
	overflow: hidden;
	margin-top: 5px;
}

.media-preview a{
	color: black;
}

.media-gallery-icon{
	font-size: 192px;
	background-color: white;
}

.media-name{
	font-size: 16px;
	text-align: center;
}

@media(max-width: 768px) {

	.navbar-nav {
		margin-bottom: 0;
		padding: 7.5px 15px;
	}

	.input-navbar-login{
		max-width: 100%;
	}
	
	.input-navbar{
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.form-user{
		max-width: 100%;
	}
	
	.btn-navbar-icon{
		width: 68px;
	}	
	
	#navbar-btn-register{
		float:right;
		margin-right:5%;
	}
	
	#navbar-btn-help{
		margin-right:0px;
		margin-left:5%;
	}
	
	#navbar-btn-login{
		width: 90%;
		margin-right:5%;
		margin-left:5%;
	}
	
	.navbar-form {
		border: 1px;
	}
	
	.navbar-bottom-form{
		text-align: center;
	}
	
	p {
		font-size: 150%;
		color: gray;
	}
	
	a {
		font-size: 125%;
		color: #00B7FF;
	}
	
	h1{
		font-size: 250%;
	}
	
	.form-submit{
		max-width: 100%;
	}
	
	.navbar{
		opacity: 1;
	}
	
	img{
		width: 100%;
		height: auto;
	}
	
	#content{
		max-width: 90%;
	}
}

@media(min-width: 768px) {
	.container{
		max-width: 60%;
	}
}