div(id="search-bar" class="input-group")
	div(class="input-group-btn")
		button(type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false") Rajaa 
			span(class="caret")
		div(id="adv-search" class="dropdown-menu" role="menu")
			form(class="horizontal" role="form")
				div(class="col-md-6 col-xs-12")
					li(class="dropdown-header") Mediatyyppi
					div(class="form-group")
						label(class="checkbox") Kuvat
							input(type="checkbox" value="image" class="search-dropdown-checkbox")
						label(class="checkbox") Videot
							input(type="checkbox" value="video" class="search-dropdown-checkbox")
						label(class="checkbox") Äänet
							input(type="checkbox" value="audio" class="search-dropdown-checkbox")
				div(class="col-md-6 col-xs-12")
					li(class="dropdown-header") Hakukohde
					div(class="form-group")
						label(class="checkbox") Videot
							input(type="checkbox" value="" class="search-dropdown-checkbox")
						label(class="checkbox") Äänet
							input(type="checkbox" value="" class="search-dropdown-checkbox")
	input(type="text" class="form-control" placeholder="Hae")
	div(class="input-group-btn")
		button(type="button" class="btn btn-primary" id="search-button")
			span(class="glyphicon glyphicon-search" aria-hidden="true")