div(class="search")
	div(class="row")
		div(class="col-md-6 search-bar")
			div(class="input-group" id="adv-search")
				input(type="text" class="form-control" placeholder="Hae")
				div(class="input-group-btn")
					div(class="btn-group" role="group")
						div(class="dropdown dropdown-lg")
							button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false")
								span(class="caret")
							div(class="dropdown-menu dropdown-menu-right search-bar-dropdown" role="menu")
								form(class="horizontal" role="form")
									li(class="dropdown-header") Mediatyyppi
									div(class="form-group")
										label(class="checkbox") Kuvat
											input(type="checkbox" value="image" class="search-dropdown-checkbox")
										label(class="checkbox") Videot
											input(type="checkbox" value="video" class="search-dropdown-checkbox")
										label(class="checkbox") Äänet
											input(type="checkbox" value="audio" class="search-dropdown-checkbox")
									li(class="dropdown-header") Hakukohde
									div(class="form-group")
										label(class="checkbox") Videot
											input(type="checkbox" value="" class="search-dropdown-checkbox")
										label(class="checkbox") Äänet
											input(type="checkbox" value="" class="search-dropdown-checkbox")
									button(type="submit" class="btn btn-primary")
										span(class="glyphicon glyphicon-search" aria-hidden="true")
					button(type="button" class="btn btn-primary" id="search-button")
						span(class="glyphicon glyphicon-search" aria-hidden="true")
script().
	$(document).ready(function(e){
		var width1 = $( '#adv-search' ).width();
		var width2 = ($( '#search-button' ).width() + 1*2 + 12*2);
		var width = width1 - width2;
		$( '.search-bar-dropdown' ).css( "width", width );
	});
	
	window.onresize = function(event) {
		var width1 = $( '#adv-search' ).width();
		var width2 = ($( '#search-button' ).width() + 1*2 + 12*2);
		var width = width1 - width2;
		$( '.search-bar-dropdown' ).css( "width", width );
	};