extends ../layout

block content
	h1= title
	p #{title}
	form(action="/galleria/media/lisaa", method="post", enctype="multipart/form-data")
		label(class="btn btn-default form-submit")
			span()
				i(class="fa fa-file-o" aria-hidden="true")  Selaa
			input(type="file", name="submission", style="display:none;", required="true")
		input(class="form-control form-submit", type="text", name="name", placeholder="Median nimi", required="true")
		textarea(class="form-control form-submit", rows="6")
		button(type="submit", class="btn btn-default") Lähetä